<article class="listing">
<a {{action 'toggleImageSize'}} class="image {{if isWide "wide"}}">
    <img src="{{project.image}}" alt="">
    <small>View Larger</small>
  </a>
  <h3>{{project.title}}</h3>
  <div class="detail client">
    <span>Client:</span> {{project.client}}
  </div>
  <br>
  <div class="detail link">
    <span>Play store:</span> {{project.link}}
  </div>
  {{location-map location='Bangalore'}}
</article>
